{% extends "base.html" %}

{% block content %}


<form class="newblogpost" name='{{thisblog.id}}' id='{{thisblog.owner_id}}'>
  <h4>{{thisblog.blog_title}}</h4>Written By: <a href="./blog?id={{thisblog.user.email}}">{{thisblog.user.email}}</a>

  <p>{{thisblog.blog_text}}</p>
</form>
<form action="/deleteblog" method='POST'>
  <input type="submit" value="Delete This Blog Entry">
</form>

{% with messages = get_flashed_messages(with_categories=True) %}
<ul>
  {% for category,message in messages %}
    <li class="{{category}}">{{message}}</li>
  {% endfor %}
</ul>
{% endwith %}

{% endblock %}